<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pure_wallet_2.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>8</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>DC8E9272C057F748D2F7E0A25E6704269A7F4D99</string>
				<key>dateExpires</key>
				<string>2023/11/07</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>8</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DC8E9272C057F748D2F7E0A25E6704269A7F4D99</string>
						<key>dateExpires</key>
						<string>2023/11/07</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D297H9CWT7</string>
						<key>name</key>
						<string>SalesCatcher, LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>8</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DC8E9272C057F748D2F7E0A25E6704269A7F4D99</string>
						<key>dateExpires</key>
						<string>2023/11/07</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FMDB.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D297H9CWT7</string>
						<key>name</key>
						<string>SalesCatcher, LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>8</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DC8E9272C057F748D2F7E0A25E6704269A7F4D99</string>
						<key>dateExpires</key>
						<string>2023/11/07</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D297H9CWT7</string>
						<key>name</key>
						<string>SalesCatcher, LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>8</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DC8E9272C057F748D2F7E0A25E6704269A7F4D99</string>
						<key>dateExpires</key>
						<string>2023/11/07</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>local_auth_ios.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D297H9CWT7</string>
						<key>name</key>
						<string>SalesCatcher, LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>8</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DC8E9272C057F748D2F7E0A25E6704269A7F4D99</string>
						<key>dateExpires</key>
						<string>2023/11/07</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>path_provider_foundation.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D297H9CWT7</string>
						<key>name</key>
						<string>SalesCatcher, LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>8</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DC8E9272C057F748D2F7E0A25E6704269A7F4D99</string>
						<key>dateExpires</key>
						<string>2023/11/07</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>sqflite.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D297H9CWT7</string>
						<key>name</key>
						<string>SalesCatcher, LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>D297H9CWT7.com.nslab.pureWallet</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>D297H9CWT7</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>4b5615cc-76f5-4534-9d7b-7af8d3dd1112</string>
				<key>dateExpires</key>
				<string>2023/11/07</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.nslab.pureWallet</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>D297H9CWT7</string>
				<key>name</key>
				<string>SalesCatcher, LLC</string>
			</dict>
			<key>versionNumber</key>
			<string>2.0.1</string>
		</dict>
	</array>
</dict>
</plist>
